body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    color: white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    z-index: 1000;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    background-color: #b8bdb9;
    border-radius: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px 12px;
    font-size: 15px;
    font-weight: lighter;
    display: block;
}

a:hover {
    background-color: #45a049;
    border-radius: 15px;
    text-decoration: none;
}

.logo {
    width: 70px;
    margin-top: 0;
    margin-left: 0;
}

header {
    background-image: url('img/1.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    padding: 100px 0;
    font-family: sans-serif;
    position: relative;
    margin-top: 75px
}

.hero {
    text-align: center;
    color: rgb(7, 40, 9);
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cta-button {
    display: inline-block;
    background-color: #FF5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 30px;
}

.featured-products {
    max-width: 1450px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.featured-products h2 {
    width: 100%;
    margin-bottom: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.how-it-works {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.step {
    text-align: center;
    margin: 20px 0;
    flex: 1;
}

.step img {
    max-width: 30%;
    height: auto;
}

footer {
    background-color: #f9f9f9;
    color: white;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-top: 20px;
}

.footer-links ul {
    list-style: none;
    display: flex;
}

.footer-links ul li {
    margin-right: 20px;
    background-color: #b8bdb9;
    border-radius: 15px;
}

.footer-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 15px;
}

.footer-links a:hover {
    background-color: #b8bdb9;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 120px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.signup-button {
    background-color: #186d0a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 120px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    background-color: #186d0a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.buy-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #45a049;
}

.additional-content {
    margin-top: 20px;
    color: black;
    text-align: center;
}

.additional-content h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-media {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.social-media a {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
}

.social-media a:hover {
    text-decoration: none;
}

.newsletter-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-form input[type="email"] {
    width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.newsletter-form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #0056b3;
}
